[Unit]
Description=Servicio de Monitoreo de Cambios en Directorios
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash /home/mavros_ailouros/Universidad/Clases/IE-0117/Laboratorio2/ejercicio3.sh /home/mavros_ailouros/Universidad/Clases/IE-0117/Laboratorio2
WorkingDirectory=/home/mavros_ailouros/Universidad/Clases/IE-0117/Laboratorio2
Restart=always

[Install]
WantedBy=default.target
